<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.miguan.otk">

    <!-- 加入应用需要的权限 -->
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.miguan.otk.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="MODEL" -->
        <!-- android:value="com.miguan.otk.model.UserModel" -->
        <!-- /> -->

        <service android:name="com.miguan.otk.module.common.UpdateService"
            />

        <activity
            android:name="com.miguan.otk.module.main.SplashActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.miguan.otk.module.main.AdActivity"
            android:theme="@style/LaunchTheme">
        </activity>
        <activity
            android:name="com.miguan.otk.module.main.MainActivity"
            android:theme="@style/DividerAppTheme"/>
        <activity android:name="com.miguan.otk.module.account.LoginActivity">
            <intent-filter>
                <action android:name="com.miguan.otk.login"/>
            </intent-filter>
        </activity>
        <activity android:name="com.miguan.otk.module.account.ForgotActivity"/>
        <activity android:name="com.miguan.otk.module.account.RegisterActivity"/>
        <activity android:name="com.miguan.otk.module.match.MatchDetailActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.league.LeagueDetailActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.ProfileActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.league.AddLeagueActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.account.ModifyPwdActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.FeedbackActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.BalanceDetailActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.WithdrawListActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.store.StoreHomeActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.store.GoodsDetailActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.store.PayActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.AddressListActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.MyOrderActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.store.OrderDetailActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.MyMatchActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.GameAccountActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.GameAccountAddActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.GameAccountEditActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.settings.SettingsActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.settings.AboutActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.match.CompetitorListActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.match.MissionListActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.SignActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.MessageListActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.MessageActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.news.NewsDetailActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.battle.BattleActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.battle.ShotDetailActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.battle.ContactJudgeActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.ProfileModifyActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.common.WebActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.BindAlipayActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.user.AreaActivity">
        </activity>
        <activity android:name="com.miguan.otk.module.battle.ShotBrowseActivity">
        </activity>
    </application>

</manifest>